USE [WebAppDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 01.04.2026 8:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 01.04.2026 8:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1, N'Украшение с кристаллами')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (2, N'Украшения без кристаллов')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (3, N'Украшения с натуральными камнями')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [Price], [Quantity], [Description]) VALUES (1, N'Пронг с кристаллом', 1, CAST(29999.99 AS Decimal(10, 2)), 10, N'Классическая огранка 2мм')
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [Price], [Quantity], [Description]) VALUES (2, N'Титановый диск', 2, CAST(1999.50 AS Decimal(10, 2)), 25, N'Круглый диск из титана 3мм')
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [Price], [Quantity], [Description]) VALUES (3, N'Prium 3K с Моховым агатом', 3, CAST(750.00 AS Decimal(10, 2)), 50, N'Натуральный камень моховый агат в зеленогм цвете')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
